* {
    margin:0;
    padding:0;
}

html, body, #app, .container-fluid {
    /*min-height: 100% !important;*/
    height: 100%;
}

body {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    color: #BABABB;
    font-size: 16px;
    font-family: Helvetica, Monaco, sans-serif;
    background-color: #363636;
}

@media (max-width: 1200px) {
    /* CSS goes here */
    .hub {
        padding-left: 15px;
    }
}


.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.highlight:hover {
    background-color: #e6e6e6;
}

.filesHover:hover {
    background-color: #4d4d4d;
}

.ace_gutter-layer {
    background-color: #313131;
}

.tab-content {
    height: 75%;
}
