* {
    margin:0;
    padding:0;
}

html, body, #app, .container-fluid {
    /*min-height: 100% !important;*/
    height: 100%;
}

body {
    overflow-x: hidden;
    color: #BABABB;
    font-size: 14px;
    font-family: Helvetica, Monaco, sans-serif;
    background-color: #363636;
}

.navbar {
    border-radius: 0; !important;
    margin-bottom: 0; !important;
}

.highlight:hover {
    background-color: #e6e6e6;
}

.filesHover:hover {
    background-color: #4d4d4d;
}

.ace_gutter-layer {
    background-color: #313131;
}
