* {
    margin:0;
    padding:0;
}

html, body, #app, .container-fluid {
    /*min-height: 100% !important;*/
    height: 100%;
}

body {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    /*color: #BABABB;*/
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #363636;
}

@media (max-width: 1200px) {
    /* CSS goes here */
    .hub {
        padding-left: 15px;
    }
}


.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

.btn-group-sm {margin-left: 0 !important;}

.highlight:hover {
    background-color: #e6e6e6;
}

.filesHover:hover {
    background-color: #4d4d4d;
}

.ace_gutter-layer {
    background-color: #313131;
}

.tab-content {
    height: 75%;
}
