<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div id="load_screen">  
        <div id="loading"><div class="loader"></div></div>
    </div>
    
    <div id="app"></div>


    <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <script src="bundle.js"></script>
    <script src="upup.min.js"></script>
    <script>
        UpUp.start({
        'content-url': 'offline-pad.html',
        'assets': [
            'bundle.js',
            'style/bootstrap.min.css',
            'style/style.css'
        ]
    });
    </script>
</body>

</html>