* {
    margin:0;
    padding:0;
}

html, body, #app, .container-fluid {
    /*min-height: 100% !important;*/
    height: 100%;
}

body {
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

.navbar {
    border-radius: 0; !important;
    margin-bottom: 0; !important;
}

