body {
    margin: 0 auto;
    padding: 0 auto;
}

.container-fluid {
    padding: 0px; !important;
}

.navbar {
    border-radius: 0; !important;
    margin-bottom: 0; !important;
}

.pad {
    padding: 0; !important;
}